@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root {
    /* Primary */
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    /* pararaph */
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    width: 52rem;
}

.column {
    padding: 2rem 2rem 2rem 2rem;
    height: 30rem;
    display: grid;
    grid-template-rows: 17% 17% 40% 13% 13%;
}


/* divs' background-colors */

#Sedans {
    background-color: var(--Bright-orange);
    border-radius: 15px 0 0 15px;
}

#SUVs {
    background-color: var(--Dark-cyan);
}

#Luxury {
    background-color: var(--Very-dark-cyan);
    border-radius: 0 15px 15px 0;
}

img {
    width: 25%;
    height: auto;
}

h1 {
    font-family: 'Big Shoulders Display', serif;
    text-transform: uppercase;
    color: var(--Very-light-gray)
}

p {
    color: var(--Transparent-white);
    line-height: 1.6rem;
}

.column a {
    height: 4rem;
    text-decoration: none;
    background-color: var(--Very-light-gray);
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 25px;
}


/* text color for each <a> */

#Sedans a {
    color: var(--Bright-orange);
}

#SUVs a {
    color: var(--Dark-cyan);
}

#Luxury a {
    color: var(--Very-dark-cyan);
}


/* faire fenetre pour <875px */

@media (max-width: 750px) {
    main {
        flex-direction: column;
        width: 20rem;
        height: 130%;
        margin: 10% 0 10% 0;
    }
    #Sedans {
        background-color: var(--Bright-orange);
        border-radius: 15px 15px 0 0;
    }
    #Luxury {
        background-color: var(--Very-dark-cyan);
        border-radius: 0 0 15px 15px;
    }
}